body {
    margin: 0;
    padding: 0;
}

.judul {
    margin: auto;
}

h1 {
    text-align: center;
    justify-content: center;
}

.content {
    justify-content: center;
    text-align: center;
    margin-left: 35%;
    padding: 12px;
}
